<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControleurApi</servlet-name>
        <servlet-class>com.serviceannuaire.controlleurs.ControleurApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleurApi</servlet-name>
        <url-pattern>/api/annuaire/succursales</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ControleurFrontal</servlet-name>
        <servlet-class>com.serviceannuaire.controlleurs.ControleurFrontal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleurFrontal</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <context-param>
        <description>La chaine du pilote JDBC utilisé pour se connecter à la BD.</description>
        <param-name>piloteJdbc</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <description>L'URL de la BD pour les connexions JDBC.</description>
        <param-name>urlBd</param-name>
        <param-value>jdbc:mysql://localhost/tomcat_serviceannuaire?user=monuser&amp;password=mypassword</param-value>
    </context-param>
</web-app>
